// reset
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

// Variables globales
$color-primary: #c1121f; // rojo principal
$color-secondary: #ffb703; // amarillo
$color-dark: #023047; // azul oscuro
$color-light: #f8f9fa;
$color-border: #e0e0e0;

$font-main: 'Poppins', sans-serif;

//Estilos globales
body {
    font-family: $font-main;
    background-color: $color-light;
    color: $color-dark;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

// header
.header {
    &__top{
        &__list{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $color-dark;
        color: white;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }}
    &__bottom {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-bottom: .125rem solid $color-primary;
        &__logo {
            align-content: center;
            font-size: 1.6rem;
            font-weight: 700;
            color: $color-primary;
            margin: 0.5rem;
            &:hover {
            color: darken($color-primary, 10%);
        }
    }}
    &__nav__content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    }
    &__container{
    height: 100%;
    width: 5rem;
    display: flex;
    }
    &__link {
        color: $color-dark;
        flex-grow: 1;
        font-weight: 500;
        transition: transform 0.3s ease;
        text-align: center;
        align-content: center;
        &:hover {
            color: $color-primary;
            border: .125rem solid $color-primary;
            transform: scale(1.1);
        }
    }
}

//responsive
@media (max-width: 768px) {
    .header__bottom {
        flex-direction: column;
        align-items: flex-start;
    }
}